body {
	background-image: url("../img/bg.jpg");
	padding-top: 40px;
}

#container{	
	background-color: white;
	margin: 0px auto;
	width: 980px;
	min-width: 980px;
	min-height: 400px;
}
#header{
	
}
#content{
	padding: 30px 0px 30px 20px;
	width: 980px;
	min-width: 980px;
	min-height: 400px;
}

#main{
	margin: 0px auto;
	width: 550px;
	min-width: 550px;
	min-height: 400px;
	padding-bottom: 50px;
	padding-top: 30px;
	
} 
form#main{
	border: 1px solid;	
} 

label.error{
            padding-left:10px; 
            color: red;
            font-weight: 5px;
            font-size: 17px;
}


