body {
	background-image: url("../img/bg.jpg");
	padding-top: 40px;
}
.content{	
	background-color: white;
	margin: 0px auto;
	padding-top: 30px;
	width: 980px;
	min-width: 980px;
	min-height: 400px;
	padding-left: 20px;
} 
.container{
	margin: 0px auto;
	width: 550px;
	min-width: 550px;
	min-height: 400px;
	padding-bottom: 50px;
	padding-top: 30px;
}

.container1{
	margin: 0px auto;
	min-width: 550px;
	
	padding-bottom: 50px;
	padding-top: 30px;
}
.container2{
	background-color: rgba(191, 186, 186, 0.56);
	margin: 0px auto;
	width: 700px;
	min-width: 550px;
	min-height: 200px;
	padding-bottom: 50px;
	padding-top: 20px;
	text-align: center;
	font-size: 39px;
}
.container3{
	margin: 0px auto;
	width: 720px;
	border: 2px ridge;
}
#tip{
	background-image: url("../img/images.jpg");
	background-repeat: no-repeat;
	float: left;
	width: 230px;
	min-width: 230px;
	min-height: 290px; 
}


#slider {
	margin: 0 auto;
    width: 720px;
    height: 400px;
    padding-bottom: 20px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}
#images {
	margin: 0 auto;
    width: 720px;
    height: 400px;
    padding-bottom: 20px;
    overflow: hidden;
}
/* helper css, since we don't have images */
.slide1 {background: blue;}
.slide2 {background: blue;}
.slide3 {background: green;}
.slide4 {background: purple;}
.slide5 {background: pink;}



