body {
	background-image: url("../img/bg.jpg");
	padding-top: 40px;
}
.content{	
	background-color: white;
	margin: 0px auto;
	padding-top: 30px;
	width: 980px;
	min-width: 980px;
	min-height: 400px;
	padding-left: 20px;
	padding-bottom: 30px;
} 
.container{
	margin: 0px auto;
	width: 550px;
	min-width: 550px;
	min-height: 400px;
	padding-bottom: 50px;
	padding-top: 30px;
	border: 1px solid; 
}

.container1{
	margin: 0px auto;
	min-width: 550px;
	padding-bottom: 50px;
	padding-top: 30px;
}
.container2{
	background-color: rgba(191, 186, 186, 0.56);
	margin: 0px auto;
	width: 700px;
	min-width: 550px;
	min-height: 200px;
	padding-bottom: 50px;
	padding-top: 20px;
	text-align: center;
	font-size: 39px;
}

#tip{
	background-image: url("../img/images.jpg");
	background-repeat: no-repeat;
	float: left;
	width: 230px;
	min-width: 230px;
	min-height: 290px; 
}




